<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/recipe/list.css}" />
</th:block>
<th:block layout:fragment="script">
  <script>
    function toggleFilter(inputId, value) {
        const input = document.getElementById(inputId);

        if (input.value === value.toString()) {
            input.value = '';
        } else {
            input.value = value;
        }
        document.getElementById('filterForm').submit();
    }

     function setOrder(order) {
          document.getElementById('orderTypeInput').value = order;
          document.getElementById('filterForm').submit();
      }
  </script>
</th:block>

<div layout:fragment="main" id="main">

  <div class="container">
    <!--메뉴-->
    <div class="form-container">
      <form method="get" action="/recipe" id="filterForm">
        <input
                type="hidden"
                name="dishType"
                id="dishTypeInput"
                th:value="${param.dishType}"
        />
        <input
                type="hidden"
                name="theme"
                id="themeInput"
                th:value="${param.theme}"
        />
        <input
                type="hidden"
                name="spicy"
                id="spicyInput"
                th:value="${param.spicy}"
        />
        <div class="top-menu-container">
          <div class="category-title">카테고리</div>

          <div class="top-menu">
            <!-- 요리별 -->
            <div class="menu-section">
              <h5>요리별</h5>
              <div class="btn-group">
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('dishTypeInput', 'MAINDISH')"
                        th:classappend="${param.dishType == 'MAINDISH'} ? ' active' : ''"
                >
                  메인요리
                </button>
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('dishTypeInput', 'SIDEDISH')"
                        th:classappend="${param.dishType == 'SIDEDISH'} ? ' active' : ''"
                >
                  반찬
                </button>
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('dishTypeInput', 'DRINK')"
                        th:classappend="${param.dishType == 'DRINK'} ? ' active' : ''"
                >
                  드링크
                </button>
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('dishTypeInput', 'DESSERT')"
                        th:classappend="${param.dishType == 'DESSERT'} ? ' active' : ''"
                >
                  디저트
                </button>
              </div>
            </div>

            <!-- 테마별 -->
            <div class="menu-section">
              <h5>테마별</h5>
              <div class="btn-group">
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('themeInput', 'DIET')"
                        th:classappend="${param.theme == 'DIET'} ? ' active' : ''"
                >
                  다이어트
                </button>
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('themeInput', 'SLOW_AGING')"
                        th:classappend="${param.theme == 'SLOW_AGING'} ? ' active' : ''"
                >
                  저속노화
                </button>
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('themeInput', 'VEGAN')"
                        th:classappend="${param.theme == 'VEGAN'} ? ' active' : ''"
                >
                  비건
                </button>
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('themeInput', 'LOW_SUGAR')"
                        th:classappend="${param.theme == 'LOW_SUGAR'} ? ' active' : ''"
                >
                  저당
                </button>
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('themeInput', 'HIGH_PROTEIN')"
                        th:classappend="${param.theme == 'HIGH_PROTEIN'} ? ' active' : ''"
                >
                  고단백
                </button>
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('themeInput', 'LCHF')"
                        th:classappend="${param.theme == 'LCHF'} ? ' active' : ''"
                >
                  저탄고지
                </button>
              </div>
            </div>

            <!-- 맵기별 -->
            <div class="menu-section">
              <h5>맵기별</h5>
              <div class="btn-group">
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('spicyInput', '0')"
                        th:classappend="${param.spicy == '0'} ? ' active' : ''"
                >
                  고추한개
                </button>
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('spicyInput', '1')"
                        th:classappend="${param.spicy == '1'} ? ' active' : ''"
                >
                  고추두개
                </button>
                <button
                        type="button"
                        class="btn"
                        onclick="toggleFilter('spicyInput', '2')"
                        th:classappend="${param.spicy == '2'} ? ' active' : ''"
                >
                  고추세개
                </button>
              </div>
            </div>
          </div>
        </div>


        <!-- 정렬 -->
        <div class="array">
          <div class="ar-group">
            <button
                    type="button"
                    class="btn"
                    onclick="setOrder('RECENT')"
                    th:classappend="${param.orderType == 'RECENT' or param.orderType == null} ? ' active' : ''"
            >
              최신순
            </button>
            <button
                    type="button"
                    class="btn"
                    onclick="setOrder('LIKE')"
                    th:classappend="${param.orderType == 'LIKE'} ? ' active' : ''"
            >
              추천순
            </button>
            <button
                    type="button"
                    class="btn"
                    onclick="setOrder('VIEW')"
                    th:classappend="${param.orderType == 'VIEW'} ? ' active' : ''"
            >
              조회순
            </button>

            <input
                    type="hidden"
                    name="orderType"
                    id="orderTypeInput"
                    th:value="${param.orderType}"
            />
          </div>
        </div>

      </form>
    </div>

    <!--레시피 작성-->
    <div class="recipe-title">
      <h1 class="top-recipe-type">Recipe</h1>
      <h1 class="top-recipe">레시피</h1>
    </div>



      <a href="/recipe/new">
        <img
                class="write-icon"
                th:src="@{/images/write_icon.png}"
                alt="글쓰기"
                style="width: 84px; height: 84px"
        />
      </a>


    <div class="recipe-grid">
      <div class="recipe-card" th:each="recipe : ${recipes}">
        <a th:href="@{'/recipe/' + ${recipe.id}}">
          <img
            th:src="${recipe.imgUrl}"
            alt="레시피 이미지"
            class="recipe-img"
          />
          <div class="writer">
            <span th:text="${recipe.nickName}">작성자</span>
            <span th:text="${recipe.formattedDate}">작성일</span>
          </div>

          <h3 class="w-r-title" th:text="${recipe.title}" >제목은어쩌구이거입니다</h3>
        </a>
        <p class="write-content"></p>
        <p class="re-like" th:text="'좋아요: ' + ${recipe.recipeLikes}">좋아요 수</p>
      </div>
    </div>

    <!-- 페이지네이션 -->
    <div class="pagination">
      <ul class="d-inline-flex gap-2">
        <!-- 이전 페이지 -->
        <li th:if="${currentPage > 1}">
          <a th:href="@{'/recipe'(page=${currentPage - 2})}">&laquo; 이전</a>
        </li>
        <li th:if="${currentPage == 1}">
          <span class="disabled">&laquo; 이전</span>
        </li>

        <!-- 페이지 번호 -->
        <li th:each="i : ${#numbers.sequence(1, totalPages)}">
          <a
                  th:href="@{'/recipe'(page=${i - 1})}"
                  th:text="${i}"
                  th:classappend="${i == currentPage} ? 'active' : ''"
          >1</a
          >
        </li>

        <!-- 다음 페이지 -->
        <li th:if="${currentPage < totalPages}">
          <a th:href="@{'/recipe'(page=${currentPage})}">다음 &raquo;</a>
        </li>
        <li th:if="${currentPage == totalPages}">
          <span class="disabled">다음 &raquo;</span>
        </li>
      </ul>
    </div>
  </div>


</div>
</html>



