<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>

<div layout:fragment="main" id="main">


<div>
    <div>
        <button type="button" onclick="location.href='/admin/noticeWrite'">작성하기</button>
    </div>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>제목</th>
            <th></th>
            <th>작성자</th>
            <th></th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <!-- 🔒 고정글 영역 -->
        <tr th:each="notice : ${pinnedNotices}">
            <td></td>
            <td>
                <span>[고정]</span>
                <a th:href="'/admin/noticeDetail/' + ${notice.id}"
                   th:text="${notice.title}"></a>
            </td>
            <td th:text="${notice.adminNickName}"></td>
            <td th:text="${notice.writeDate}"></td>
        </tr>
        <tr><td colspan="5" style="height: 20px;"></td></tr>

        <!-- 📋 전체글 출력 (고정글도 포함됨) -->
        <tr th:each="notice : ${noticeList}">
            <td></td>
            <td>
                <span th:if="${notice.pinned}">[고정]</span>
                <a th:href="'/admin/noticeDetail/' + ${notice.id}"
                   th:text="${notice.title}"></a>
            </td>
            <td th:text="${notice.adminNickName}"></td>
            <td th:text="${notice.writeDate}"></td>
        </tr>
        </tbody>


    </table>
</div>
</div>
</html>