<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/user/activity.css" />
</th:block>
<th:block layout:fragment="script"></th:block>

<div layout:fragment="main" id="main">

  <!--여기다가 넣어주세여-->
  <div class="container">
    <div class="side-menu">
      <ul class="side-menu-list">
        <li class="side-menu-list-title">마이페이지</li>
        <li class="pro-change"><a href="/user/profile">프로필 편집</a></li>
        <li class="myactivity"><a href="/user/activity">내 활동</a></li>
        <li><a href="/user/bookmark">즐겨찾는 레시피</a></li>
        <li class="s-m-l-calendar"><a th:href="@{'/user/calendar/' + ${user.id}}">내 캘린더</a></li>
      </ul>
    </div>
    <div class="activity">
      <div class="title">
        <span>내 활동</span>
        <p>냉털키친에서 활동한 나의 내역을 확인할 수 있어요.</p>
      </div>
      <div class="content">
        <div class="con-recipe">
          <span class="con-title">최근 본 레시피</span>
          <div class="recipe-box">
            <div class="recipe-content">
              <ul>
                <li>
                  <div class="thumbnail">썸네일박스</div>
                  <div class="text-box">
                    <a href="#">비건마라로제저당분모자볶음</a>
                    <p class="recipe-text">
                      살찔 걱정 없이 저당으로 즐기는 비건주의 회원들도 만족할
                      속세맛 마라로제!
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="recipe-content">
              <ul>
                <li>
                  <div class="thumbnail">썸네일박스</div>
                  <div class="text-box">
                    <a href="#">비건마라로제저당분모자볶음</a>
                    <p class="recipe-text">
                      살찔 걱정 없이 저당으로 즐기는 비건주의 회원들도 만족할
                      속세맛 마라로제!
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="recipe-content">
              <ul>
                <li>
                  <div class="thumbnail">썸네일박스</div>
                  <div class="text-box">
                    <a href="#">비건마라로제저당분모자볶음</a>
                    <p class="recipe-text">
                      살찔 걱정 없이 저당으로 즐기는 비건주의 회원들도 만족할
                      속세맛 마라로제!
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="recipe-content">
              <ul>
                <li>
                  <div class="thumbnail">썸네일박스</div>
                  <div class="text-box">
                    <a href="#">비건마라로제저당분모자볶음</a>
                    <p class="recipe-text">
                      살찔 걱정 없이 저당으로 즐기는 비건주의 회원들도 만족할
                      속세맛 마라로제!
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- 페이지네이션 -->
          <div class="pagination">
            <ul class="d-inline-flex gap-2">
              <!-- 이전 페이지 -->
              <li></li>
              <!-- 페이지 번호 -->
              <li></li>
              <!-- 다음 페이지 -->
              <li></li>
            </ul>
          </div>
        </div>

        <div class="con-write">
          <span class="con-title">내 게시글</span>
          <ul class="write-content" id="content-list">
            <li th:each="content : ${contents}">
              <div class="catego" th:text="${content.type}">카테고리</div>
              <p class="write-title" th:text="${content.title}">title</p>
              <a th:if="${content.type} == '커뮤니티'" th:href="@{'/post/' + ${content.id}}" class="btn btn-primary">작성된 글 보기</a>
              <a th:if="${content.type} == '레시피'" th:href="@{'/recipe/' + ${content.id}}" class="btn btn-primary">작성된 글 보기</a>
            </li>
          </ul>
        </div>
        <!-- 페이지네이션 -->
        <div class="pagination">
          <ul>
            <li th:if="${!contents.first}">
              <a th:href="@{/user/activity(contentPage=${contents.number - 1}, commentPage=${comments.number})} + '#content-list' "><< 이전</a>
            </li>
            <li th:each="pageNum : ${#numbers.sequence(0, contents.totalPages - 1)}"
                th:classappend="${pageNum == contents.number} ? 'active'">
              <a th:href="@{/user/activity(contentPage=${pageNum}, commentPage=${comments.number})} + '#content-list' " th:text="${pageNum + 1}">1</a>
            </li>
            <li th:if="${!contents.last}">
              <a th:href="@{/user/activity(contentPage=${contents.number + 1}, commentPage=${comments.number})} + '#content-list' ">다음 >></a>
            </li>
          </ul>
        </div>


        <div class="con-comment">
          <span class="con-title">내 댓글</span>
          <div class="con-box"  id="comment-list">
            <div class="comment-box" th:each="comment : ${comments}">
              <div class="comment">
                <div class="com">
                  <div class="com-writer" th:text="${user.nickName}">계림제자선우선우</div>
                  <div class="com-content" th:text="${comment.content}">식단 구성이 좋아요~</div>
                </div>
                <a th:if="${comment.type} == '커뮤니티'" th:href="@{'/post/' + ${comment.id}}" class="btn btn-primary">작성된 글 보기</a>
                <a th:if="${comment.type} == '레시피'" th:href="@{'/recipe/' + ${comment.id}}" class="btn btn-primary">작성된 글 보기</a>
              </div>
            </div>
          </div>
          <!-- 페이지네이션 -->
          <div class="pagination">
            <ul>
              <li th:if="${!comments.first}">
                <a th:href="@{/user/activity(contentPage=${contents.number}, commentPage=${comments.number - 1})} + '#comment-list'"><< 이전</a>
              </li>
              <li th:each="pageNum : ${#numbers.sequence(0, comments.totalPages - 1)}"
                  th:classappend="${pageNum == comments.number} ? 'active'">
                <a th:href="@{/user/activity(contentPage=${contents.number}, commentPage=${pageNum})} + '#comment-list'" th:text="${pageNum + 1}">1</a>
              </li>
              <li th:if="${!comments.last}">
                <a th:href="@{/user/activity(contentPage=${contents.number}, commentPage=${comments.number + 1})} + '#comment-list'">다음 >></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</html>