<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/user/activity.css" />
</th:block>
<th:block layout:fragment="script"></th:block>

<div layout:fragment="main" id="main">

  <!--여기다가 넣어주세여-->
  <div class="container">
    <div class="side-menu">
      <ul class="side-menu-list">
        <li class="side-menu-list-title">마이페이지</li>
        <li class="pro-change"><a href="/user/profile">프로필 편집</a></li>
        <li class="myactivity"><a href="/user/activity">내 활동</a></li>
        <li><a href="/user/bookmark">즐겨찾는 레시피</a></li>
        <li class="s-m-l-calendar"><a th:href="@{'/user/calendar/' + ${user.id}}">내 캘린더</a></li>
      </ul>
    </div>
    <div class="activity">
      <div class="title">
        <span>내 활동</span>
        <p>냉털키친에서 활동한 나의 내역을 확인할 수 있어요.</p>
      </div>
      <div class="content">
        <div class="con-recipe">
          <span class="con-title">최근 본 레시피</span>
          <div class="recipe-box">
            <div class="recipe-content">
              <ul>
                <li>
                  <div class="thumbnail">썸네일박스</div>
                  <div class="text-box">
                    <a href="#">비건마라로제저당분모자볶음</a>
                    <p class="recipe-text">
                      살찔 걱정 없이 저당으로 즐기는 비건주의 회원들도 만족할
                      속세맛 마라로제!
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="recipe-content">
              <ul>
                <li>
                  <div class="thumbnail">썸네일박스</div>
                  <div class="text-box">
                    <a href="#">비건마라로제저당분모자볶음</a>
                    <p class="recipe-text">
                      살찔 걱정 없이 저당으로 즐기는 비건주의 회원들도 만족할
                      속세맛 마라로제!
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="recipe-content">
              <ul>
                <li>
                  <div class="thumbnail">썸네일박스</div>
                  <div class="text-box">
                    <a href="#">비건마라로제저당분모자볶음</a>
                    <p class="recipe-text">
                      살찔 걱정 없이 저당으로 즐기는 비건주의 회원들도 만족할
                      속세맛 마라로제!
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="recipe-content">
              <ul>
                <li>
                  <div class="thumbnail">썸네일박스</div>
                  <div class="text-box">
                    <a href="#">비건마라로제저당분모자볶음</a>
                    <p class="recipe-text">
                      살찔 걱정 없이 저당으로 즐기는 비건주의 회원들도 만족할
                      속세맛 마라로제!
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- 페이지네이션 -->
          <div class="pagination">
            <ul class="d-inline-flex gap-2">
              <!-- 이전 페이지 -->
              <li></li>
              <!-- 페이지 번호 -->
              <li></li>
              <!-- 다음 페이지 -->
              <li></li>
            </ul>
          </div>
        </div>

        <div class="con-write">
          <span class="con-title">내 게시글</span>
          <ul class="write-content">
            <li>
              <div class="catego">카테고리</div>
              <p class="write-title"><a href="#">title</a></p>
              <button type="button">작성된 글 보기</button>
            </li>
            <li>
              <div class="catego">카테고리</div>
              <p class="write-title"><a href="#">title</a></p>
              <button type="button">작성된 글 보기</button>
            </li>
            <li>
              <div class="catego">카테고리</div>
              <p class="write-title"><a href="#">title</a></p>
              <button type="button">작성된 글 보기</button>
            </li>
          </ul>
          <!-- 페이지네이션 -->
          <div class="pagination">
            <ul class="d-inline-flex gap-2">
              <!-- 이전 페이지 -->
              <li></li>
              <!-- 페이지 번호 -->
              <li></li>
              <!-- 다음 페이지 -->
              <li></li>
            </ul>
          </div>
        </div>

        <div class="con-comment">
          <span class="con-title">내 댓글</span>
          <div class="con-box">
            <div class="comment-box">
              <div class="comment">
                <div class="com">
                  <div class="com-writer">계림제자선우선우</div>
                  <div class="com-content">식단 구성이 좋아요~</div>
                </div>
                <button class="com-btn">작성된 글 보기</button>
              </div>
            </div>
            <div class="comment-box">
              <div class="comment">
                <div class="com">
                  <div class="com-writer">계림제자선우선우</div>
                  <div class="com-content">식단 구성이 좋아요~</div>
                </div>
                <button class="com-btn">작성된 글 보기</button>
              </div>
            </div>
            <div class="comment-box">
              <div class="comment">
                <div class="com">
                  <div class="com-writer">계림제자선우선우</div>
                  <div class="com-content">식단 구성이 좋아요~</div>
                </div>
                <button class="com-btn">작성된 글 보기</button>
              </div>
            </div>
            <div class="comment-box">
              <div class="comment">
                <div class="com">
                  <div class="com-writer">계림제자선우선우</div>
                  <div class="com-content">식단 구성이 좋아요~</div>
                </div>
                <button class="com-btn">작성된 글 보기</button>
              </div>
            </div>
          </div>
          <!-- 페이지네이션 -->
          <div class="pagination">
            <ul class="d-inline-flex gap-2">
              <!-- 이전 페이지 -->
              <li></li>
              <!-- 페이지 번호 -->
              <li></li>
              <!-- 다음 페이지 -->
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</html>