<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/user/bookmark.css" />
</th:block>
<th:block layout:fragment="script">
  <script th:src="@{/javascript/user/bookmark.js}"> </script>
</th:block>

<div layout:fragment="main" id="main">


  <div class="container">
    <div class="side-menu">
      <ul class="side-menu-list">
        <li class="side-menu-list-title">마이페이지</li>
        <li class="pro-change"><a href="/user/profile">프로필 편집</a></li>
        <li><a href="/user/activity">내 활동</a></li>
        <li><a href="/user/bookmark">즐겨찾는 레시피</a></li>
        <li class="s-m-l-calendar"><a href="/user/calendar">내 캘린더</a></li>
      </ul>
    </div>

    <div class="bookmark">
      <div class="title">
        <span>즐겨찾는 레시피</span>
        <p>내가 찜해놓은 레시피를 확인하고, 내 캘린더로 옮길 수 있어요!</p>
      </div>
      <form action="">
        <div class="content">
          <input
                  class="bookmark-search-form"
                  type="search"
                  placeholder="검색어를 입력하세요."
          />
          <div class="con-menu">
            <ul class="con-menu-box">
              <li class="main-dish" type="button">메인디쉬</li>
              <li class="side-dish" type="button">반찬</li>
              <li class="dessert" type="button">디저트</li>
              <li class="drink" type="button">드링크</li>
            </ul>
            <div class="main-dish-box" id="dishContainer">
              <div class="checkbox-wrapper">
                <input
                        class="main-dish-chech-sbox"
                        type="checkbox"
                        value=""
                        id="item1"
                        checked
                />
                <label class="main-dish-text" for="checkChecked">
                  비건마라로제저당분모자볶음
                </label>
              </div>
              <div class="checkbox-wrapper">
                <input
                        class="main-dish-chech-sbox"
                        type="checkbox"
                        value=""
                        id="item2"
                        checked
                />
                <label class="main-dish-text" for="checkChecked">
                  전자레인지 마라탕
                </label>
              </div>
              <div class="checkbox-wrapper">
                <input
                        class="main-dish-chech-sbox"
                        type="checkbox"
                        value=""
                        id="item3"
                        checked
                />
                <label class="main-dish-text" for="checkChecked">
                  한번에 골로가는 밀키스주
                </label>
              </div>
              <div class="checkbox-wrapper">
                <input
                        class="main-dish-chech-sbox"
                        type="checkbox"
                        value=""
                        id="item4"
                        checked
                />
                <label class="main-dish-text" for="checkChecked">
                  고맥(고량주+맥주)
                </label>
              </div>
              <div class="checkbox-wrapper">
                <input
                        class="main-dish-chech-sbox"
                        type="checkbox"
                        value=""
                        id="item5"
                        checked
                />
                <label class="main-dish-text" for="checkChecked">
                  부으면 끝나는 밀푀유나베
                </label>
              </div>
              <div class="checkbox-wrapper">
                <input
                        class="main-dish-chech-sbox"
                        type="checkbox"
                        value=""
                        id="item6"
                        checked
                />
                <label class="main-dish-text" for="checkChecked">
                  로제찜닭
                </label>
              </div>
              <div class="checkbox-wrapper">
                <input
                        class="main-dish-chech-sbox"
                        type="checkbox"
                        value=""
                        id="item7"
                        checked
                />
                <label class="main-dish-text" for="checkChecked">
                  명오김(명란+오이 김밥)
                </label>
              </div>
              <div class="pagination">
                <button onclick="prevPage()">이전</button>
                <button onclick="nextPage()">다음</button>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <button class="delete-btn">삭제</button>
          <button class="cal-update-btn">월별 캘린더에 추가</button>
        </div>
      </form>
    </div>
  </div>

</div>
</html>