<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/user/signup.css" />
</th:block>
<th:block layout:fragment="script"></th:block>

<div layout:fragment="main" id="main">

  <!--여기다가 넣어주세여-->



<div class="signup">
  <span class="sign-up-title">회원가입</span>
  <div class="sign-up">
    <form class="nick-name" role="" method="post" th:object="${memberSignUpDto}">
      <div class="nick-name-title">* 닉네임</div>
      <input
              class="nick-name-create-form"
              type="search"
              placeholder="ex. 김식탁"
              aria-label="Search"
      />
      <p>한글로 작성해주세요 (최소 2글자 ~ 최대 8글자)</p>

      <div class="id-title">* 아이디</div>
      <input
              class="id-create-form"
              type="search"
              placeholder="아이디는 변경이 불가합니다. ex. kimsicktak1234"
              aria-label="Search"
      />
      <p>영문 소문자, 숫자를 조합하여 5~15자리 이하로 작성해주세요.</p>

      <div class="pw-title">* 비밀번호</div>
      <input
              class="pw-create-form"
              type="search"
              placeholder="비밀번호를 입력하세요."
              aria-label="Search"
      />
      <p>영문 대/소문자, 숫자를 조합하여 10~16자리 이하로 작성해주세요.</p>
      <input
              class="pw-create-form-2"
              type="search"
              placeholder="비밀번호를 다시 입력하세요."
              aria-label="Search"
      />

      <div class="eamil-title">* 이메일</div>
      <input
              class="email-create-form"
              type="search"
              placeholder="이메일은 변경이 불가합니다. example@naver.com"
              aria-label="Search"
      />
      <p>이메일 형식에 맞춰서 입력해주세요.</p>
      <div class="check-box">
        <div class="form-check">
          <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="checkDefault"
          />
          <label class="form-check-label" for="checkDefault">
            [필수] 본인은 만 14세 이상입니다.
          </label>
        </div>
        <div class="form-check">
          <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="checkChecked"
                  checked
          />
          <label class="form-check-label" for="checkChecked">
            [필수] 이용약관 <a href="#">약관보기</a>
          </label>
        </div>
        <div class="form-check">
          <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="checkChecked"
                  checked
          />
          <label class="form-check-label" for="checkChecked">
            [필수] 개인정보수집동의 <a href="#">약관보기</a>
          </label>
        </div>
      </div>
      <button class="sign-up-btn">다음 단계로 이동</button>
    </form>
  </div>
</div>

<footer>
  <div class="foot-box">
    <div class="con1"><a href="#">이용약관</a></div>
    <div class="con2"><a href="#">개인정보처리방침</a></div>
  </div>
</footer>

</div>


</html>
