<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>

<div layout:fragment="main" id="main">

<div class="mainpage">
    <main>
        <div class="main">메인</div>
        <div class="hot-recipe">인기레시피</div>
        <div class="recipe-brag">레시피자랑</div>
        <div class="member-list">
            <ul>
                <li th:each="info : ${userInfo}">
                    <span th:text="${info.nickName}"> </span>
                    <span th:text="${info.id}"> </span>
                </li>
            </ul>
        </div>
        <div class="community">커뮤니티</div>
        <div class="notice">공지사항</div>
        <div class="question">문의사항</div>

    </main>
</div>
</div>
<footer>푸터</footer>

</html>
