* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
  /* text-align: center; */
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.container {
  width: 720px;
  margin-top: 20px;
  border: 1px solid #bababa;
  background-color: #F8F8F9;
}
h1 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #bababa;
}
.notice {
    width: 700px;
    line-height: 20px;
}
