* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* text-align: center; */
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.mypage a {
  color: #ff6a00;
}
body {
  background-color: #f8f8f9;
}
.container {
  width: 1180px;
  margin-top: 50px;
}
/* sidemenu */
.side-menu {
  width: 170px;
  height: 300px;
  float: left;
}
.side-menu-list li {
  width: 140px;
  height: 45px;
  line-height: 45px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 20px;
}
.side-menu-list li a {
  color: #767676;
}
.side-menu-list li a:hover {
  color: #ff6a00;
}
.side-menu-list-title {
  background-color: white;
  border-radius: 23px;
}
.s-m-l-calendar {
  margin-top: 50px;
}
/* profile */
.profile {
  width: 1010px;
  float: right;
}
.title {
  width: 910px;
  margin-left: 50px;
  float: right;
}
.title span {
  font-size: 30px;
  font-weight: 700;
}
.title p {
  font-size: 16px;
  color: #bababa;
  margin-top: 10px;
}
.content {
  width: 910px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  border: 1px solid #bababa;
  border-radius: 26px;
  float: right;
  display: flex;
}
/* 왼쪽 */
.profile-content {
  width: 300px;
}
.pro-photo {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  background-color: #d9d9d9;
  margin-top: 25px;
  margin-bottom: 25px;
}
.pro-text {
  width: 160px;
  height: 40px;
  font-size: 14px;
  color: #bababa;
  line-height: 20px;
}
.pro-title {
  font-size: 24px;
  font-weight: 800;
  margin-left: 75px;
  margin-top: 50px;
}
.pro-btn {
  width: 160px;
  height: 24px;
  border-radius: 20px;
  border: 1px solid #bababa;
  background-color: #f8f8f9;
  line-height: 24px;
  color: #bababa;
  margin-top: 12px;
  margin-left: 70px;
}
.pro-change a {
  color: #ff6a00;
}
/* 오른쪽 */
.myinfo {
  width: 600px;
  height: 300px;
  display: flex;
  margin-top: 20px;
}
.info-nick-name {
  font-weight: 600;
  display: inline;
  margin-left: 40px;
  margin-top: 10px;
}
.info-nick-name-form {
  width: 420px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid #bababa;
  margin-top: 10px;
  padding: 0 20px;
  margin-left: 30px;
}
.info-nick-name-form1 {
  width: 420px;
  height: 50px;
  background-color: #dfdfdf;
  border-radius: 8px;
  border: 1px solid #bababa;
  margin-top: 10px;
  padding: 0 20px;
  margin-left: 30px;
  position: relative;
}
.info-nick-name-form::placeholder {
  font-size: 14px;
  color: #bababa;
}
.info-nick-name-form1::placeholder {
  font-size: 14px;
  color: #bababa;
}
.warn {
  color: #bababa;
  font-size: 12px;
  position: absolute;
}
.btn {
  float: right;
  margin-top: 10px;
}
.info-out {
  width: 160px;
  height: 54px;
  line-height: 54px;
  background-color: white;
  border: 1px solid #bababa;
  color: #bababa;
  font-size: 16px;
  border-radius: 12px;
}
.info-change {
  width: 160px;
  height: 54px;
  line-height: 54px;
  background-color: #ff6a00;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  margin-left: 5px;
  border-style: none;
}

